<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
  <section class="main-header">
  <img src="<%= asset_path "rogo3.jpg" %>">
  </section>
  <section class="about">
  <h1>今どうしてる？</h1>
  <p>
    このアプリはruby on railsの練習用に作成されました。<br>
    アプリのトップページです。
  </p>
  
</body>
</html>